# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# folders
bin

# cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
Testing
CTestTestfile.cmake

# Emacs temp files.
.#*
\#*#
~*
